body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: burlywood;
}

.red {
    background-color: crimson;
}
 
.green {
    background-color: darkseagreen;
}

.purple {
    background-color: darkorchid;
}
.flash {
    background-color: azure;
}

.userFlash {
    background-color: green;
}